streamlit==1.38.0
pydeck==0.9.1
pandas==2.2.2
numpy==1.26.4
googlemaps==4.10.0
python-dotenv==1.0.1
spacy==3.7.5
anthropic==0.34.2

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
